body{
  background: skyblue;
}
.app-container{
  width: 500px;
  height: 500px;
margin-left: 500px;
margin-top:200px ;
background: transparent;
}
.calculator{
  display: grid;
  grid-template-columns: repeat(4,50px);
}
button{
  width: 50px;
  height:50px;
  background-color:white;
  border-radius: 1px  solid lightgrey;
  box-shadow: 3px 2px;
}
button.operator{
  background-color:lightgray;
  }
  .display{
    height: 40px;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    padding-right: 10px;
    padding-top:5px;
    border: 2px solid black;
    font-size: 40px;
    font-weight: 400;
    border-radius: 2px;
    box-shadow: 3px 2px;
  }